{% extends 'base.html' %} {% block title %} Login | Ab-Blogs {% endblock title %} {% block body %}
<style>
    .input {
        width: 23rem;
        height: 1rem;
        margin: 3% 1% 1% 1%;
        padding: 2%;
        background-color: #343A40;
        color: aqua;
        border: .3rem solid #28A745;
        display: inline-block;
        border-radius: .5rem;
    }
    
    .btn {
        display: inline-block;
        color: #28A745;
        border: .1rem solid #28A745;
        border-radius: .5rem;
        width: 40%;
        height: 3rem;
        padding: .5% 1% .5% 1%;
        margin: 1% 0% .5% 1%;
    }
    
    .btn:hover {
        background-color: #28A745;
        color: #343A40;
    }
    
    .box {
        border: .2rem solid #343A40;
        width: 40vw;
        padding: 2rem 0rem;
        text-align: center;
        margin-top: 5rem;
        margin-left: 30vw;
    }
</style>



<div class="box">
    <h1>Log In</h1>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" class="input" placeholder="Enter Your User Name" name="loginuname" id="loguser">
        <br>
        <input type="password" class="input" placeholder="Enter Your Password" name="loginpass" id="logpass">
        <br>
        <button class="btn" type="submit">Login</button>
    </form>
</div>


{% endblock body %}